///// copypaste from vue environment //

$black: #082842;
$off-black: #203D54;
$grey: #8494A1;
$off-white: #FAFBFB;
$white: #FFFFFF;
$rethink: #40DFF7;
$reinvest: #F70CF7;
$remarket: #513BF4;
$remake: #04E400;
$mobile-max: 768px;
$desktop-min: 769px;

@font-face {
  font-family: 'GTWalsheimMedium';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Medium.otf') format('opentype')
}

@font-face {
  font-family: 'GTWalsheimRegular';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Chrono-Bold';
  src: url('./assets/fonts/Chrono/Chrono-Bold.otf') format('opentype')
}

h1,
.h1 {
  /* Heading 1: */
  font-family: 'GTWalsheimMedium';
  font-size: 30px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 36px;
  @media screen and (min-width: $desktop-min) {
    font-size: 44px;
    letter-spacing: 0.73px;
    line-height: 60px;
  }
}

h2,
.h2 {
  /* Heading 2: */
  font-family: 'GTWalsheimMedium';
  font-size: 24px;
  color: $black;
  letter-spacing: 0.33px;
  line-height: 36px;
  @media screen and (min-width: $desktop-min) {
    font-size: 38px;
    letter-spacing: 0.53px;
    line-height: 48px;
  }
}

h3,
.h3 {
  /* Heading 3: */
  font-family: 'GTWalsheimMedium';
  font-size: 18px;
  color: $black;
  letter-spacing: 0.5px;
}

.utility {
  /* Utility: */
  font-family: 'GTWalsheimRegular';
  font-size: 12px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 24px;
}

p,
.p {
  /* Paragraph: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 24px;
  &.large {
    /* Paragraph Large: */
    font-family: 'GTWalsheimRegular';
    font-size: 24px;
    color: $black;
    letter-spacing: 0.5px;
    line-height: 36px;
  }
}

.button {
  /* Button: */
  font-family: 'Chrono-Bold';
  font-size: 14px;
  color: $black;
  letter-spacing: 1.4px;
  line-height: 12px;
  text-transform: uppercase;
}

a,
.a {
  /* Text Link: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: $grey;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-decoration: underline;
  &.small {
    /* Text Link Small: */
    font-family: 'GTWalsheimRegular';
    font-size: 12px;
    color: $grey;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-decoration: underline;
  }
}


///////////////////////////////
/////// CUSTOM ////////////////
///////////////////////////////


$debug: rgba(255, 0, 0, 0.15);

body, .site-content {
  background: $debug;
}

// outer container (col-10)
#container {
  position: relative;
  margin: auto;
  width: calc(100% * 10/12);
  display: flex;
  background: $white;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
}

// form wrapper
.nf-form-cont {
  position: relative;
  margin: auto;
  width: calc(100% * 8/10);


  // text inputs and labels

  input[type=text], input[type=email] {
    border-radius: 0px;
  }

  label {
    @extend .utility ;
    &[for=nf-field-43] {
      @extend .h3 ;
      padding-top: 72px;
      padding-bottom: 24px;
    }
  }

  .nf-field-container:not(.listcheckbox-container) {
    position: relative;
    box-sizing: border-box;
    // display: inline-block;
    background: $debug;
    &.email-container {
      width: 100%;
      display: block;
    }
  }

  // submit button 
  input[type=button] {
    position: relative;
    float: right;
    background: $off-black;
    color: $white;
    border-radius: 0px;
    padding-left: 72px;
    padding-right: 72px;
  }

  // checkbox container
  .nf-field-element {
   >ul {
    display:  flex;
    width:  100%;
    position:  relative;
    justify-content:  space-between;
      >li {
        position: relative;
        width: calc((100% * 2/8) - 18px) !important;
      }
    }
  }

  // checkbox
  .list-checkbox-wrap .nf-field-element li input[type=checkbox] {
    position: relative;
    // width: calc((100% * 2/8) - 18px) !important;
    width: 100% !important;
    height: 146px !important;
    background-image: url('./assets/image/Image.png');
    + label {
      display: none;
    }
  }

  // overlay text
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]::before {
    content: ' ';
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-image: url('./assets/SVG/rethink.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-in-out;
  }


  .list-checkbox-wrap .nf-field-element li input[type=checkbox]:hover::before, .list-checkbox-wrap .nf-field-element li input[type=checkbox]:checked::before  {
    background-image: url('./assets/SVG/rethinkHover.svg');
  }

  // underlay box
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]::after {
    content: ' ';
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #EDF0F1;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out;
  }

  .list-checkbox-wrap .nf-field-element li input[type=checkbox]:hover::after, .list-checkbox-wrap .nf-field-element li input[type=checkbox]:checked::after {
    background: $white;
    border-bottom: 1px solid $rethink;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
  }
  

  .nf-form-title {
    display: none;
  }


  // errors

  [aria-invalid="true"] {
    border: 1px solid $reinvest;
  }

  .nf-error-msg {
    color: $reinvest;
  }
}

#wpadminbar, #viewPortSize {
  display: none;
}



///////////////////////////////