///// copypaste from vue environment //
$black: #082842;
$off-black: #203D54;
$grey: #8494A1;
$off-white: #FAFBFB;
$white: #FFFFFF;
$rethink: #40DFF7;
$reinvest: #F70CF7;
$remarket: #513BF4;
$remake: #04E400;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1149px;
$desktop-min: 1150px;
h1,
.h1 {
  /* Heading 1: */
  font-family: 'GTWalsheimMedium';
  font-size: 30px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 36px;
  @media screen and (min-width: $desktop-min) {
    font-size: 44px;
    letter-spacing: 0.73px;
    line-height: 60px;
  }
}

h2,
.h2 {
  /* Heading 2: */
  font-family: 'GTWalsheimMedium';
  font-size: 24px;
  color: $black;
  letter-spacing: 0.33px;
  line-height: 36px;
  @media screen and (min-width: $desktop-min) {
    font-size: 38px;
    letter-spacing: 0.53px;
    line-height: 48px;
  }
}

h3,
.h3 {
  /* Heading 3: */
  font-family: 'GTWalsheimMedium';
  font-size: 18px;
  color: $black;
  letter-spacing: 0.5px;
}

.utility {
  /* Utility: */
  font-family: 'GTWalsheimRegular';
  font-size: 12px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 24px;
}

p,
.p {
  /* Paragraph: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: $black;
  letter-spacing: 0.5px;
  line-height: 24px;
  &.large {
    /* Paragraph Large: */
    font-family: 'GTWalsheimRegular';
    font-size: 24px;
    color: $black;
    letter-spacing: 0.5px;
    line-height: 36px;
  }
}

.button {
  /* Button: */
  font-family: 'Chrono-Bold';
  font-size: 14px;
  color: $black;
  letter-spacing: 1.4px;
  line-height: 12px;
  text-transform: uppercase;
}

a,
.a {
  /* Text Link: */
  font-family: 'GTWalsheimRegular';
  font-size: 18px;
  color: $grey;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-decoration: underline;
  &.small {
    /* Text Link Small: */
    font-family: 'GTWalsheimRegular';
    font-size: 12px;
    color: $grey;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-decoration: underline;
  }
}

///////////////////////////////
/////// CUSTOM ////////////////
///////////////////////////////
$debug: rgba(255, 0, 0, 0.15);
body,
.site-content {
  background: $debug;
}

// outer container (col-10)
#nf-content-speaking,
#nf-content-attending,
#nf-content-sponsoring {
  position: relative;
  margin: auto;
  width: calc(100% * 10/12);
  display: flex;
  background: $white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
  @media screen and (max-width: $mobile-max) {
    width: 100%;
  }
}

// form wrapper
.nf-form-cont {
  position: relative;
  margin: auto;
  width: calc(100% * 8/10); // text inputs and labels
  input[type=text],
  input[type=email] {
    border-radius: 0px;
  }
  label {
    @extend .utility;
  }
  .nf-field-container:not(.listcheckbox-container) {
    position: relative;
    box-sizing: border-box; // display: inline-block;
    // background: $debug;
    &.email-container {
      width: 100%;
      display: block;
    }
  } // submit button 
  input[type=button] {
    position: relative;
    float: right;
    background: $off-black;
    color: $white;
    text-transform: uppercase;
    border-radius: 0px;
    padding-left: 72px;
    padding-right: 72px;
  } // checkbox container
  .nf-field-element {
    >ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      justify-content: space-between;
      >li {
        position: relative;
        width: calc((100% * 2/8) - 18px) !important;
        @media screen and (max-width: $mobile-max) {
          width: calc(50% - 12px) !important;
          margin-bottom: 24px !important;
        }
      }
    }
  } // checkbox
  .list-checkbox-wrap .nf-field-element li input[type=checkbox] {
    display: none;
  }
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]+label {
    position: relative;
    width: 100% !important;
    height: 146px !important;
    font-size: 0px; // + label {
    //   position: relative;
    //   // display: none;
    // }
  }
  .list-checkbox-wrap {
    label {
      @extend .h3;
      padding-top: 72px;
      padding-bottom: 24px;
    }
  } // overlay text
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]+label::before {
    content: ' ';
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-size: 124px 50%;
    @media screen and (max-width: $mobile-max) {
      background-size: 50%;
    }
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-in-out;
  } // background images
  // rethink
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=rethink]+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/rethink+stack.svg');
  }
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=rethink]:hover+label::before,
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=rethink]:checked+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/rethink+stack+hover.svg');
  } // remake
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=remake]+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remake+stack.svg');
  }
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=remake]:hover+label::before,
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=remake]:checked+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remake+stack+hover.svg');
  } // remarket
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=remarket]+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remarket+stack.svg');
  }
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=remarket]:hover+label::before,
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=remarket]:checked+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remarket+stack+hover.svg');
  } // reinvest
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=reinvest]+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/reinvest+stack.svg');
  }
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=reinvest]:hover+label::before,
  .list-checkbox-wrap .nf-field-element li input[type=checkbox][value=reinvest]:checked+label::before {
    background-image: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/reinvest+stack+hover.svg');
  } // underlay box
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]+label::after {
    content: ' ';
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #EDF0F1;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out;
  }
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]:hover+label::after,
  .list-checkbox-wrap .nf-field-element li input[type=checkbox]:checked+label::after {
    background: $white;
    border-bottom: 1px solid $rethink;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
  }
  .nf-form-title {
    display: none;
  } // errors
  [aria-invalid="true"] {
    border: 1px solid $reinvest;
  }
  .nf-error-msg {
    color: $reinvest;
  }
}

// response message
.nf-response-msg {
  padding-top: 72px;
}

#wpadminbar,
#viewPortSize {
  display: none;
}

// PRELOAD images
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  content: url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/rethink+stack.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/rethink+stack+hover.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remake+stack.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remake+stack+hover.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remarket+stack.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/remarket+stack+hover.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/reinvest+stack.svg') url('https://s3-us-west-2.amazonaws.com/remode-vpv/assets/SVG/reinvest+stack+hover.svg');
}

///////////////////////////////